.env
venv/
secrets/credential1.json
secrets/credential2.json
financial_analyst/__pycache__/playground.cpython-311.pyc
financial_analyst/token.json
financial_analyst/googledrive.py
financial_analyst/stock_analysis.csv
financial_analyst/util/__pycache__/debug_printer.cpython-311.pyc
financial_analyst/__pycache__/dcf_yf.cpython-311.pyc
financial_analyst/__pycache__/cagr_calculations.cpython-311.pyc
