.env
venv/
secrets/credential1.json
secrets/credential2.json
src/financial_analyst/__pycache__/playground.cpython-311.pyc
src/financial_analyst/token.json
src/financial_analyst/googledrive.py
src/financial_analyst/stock_analysis.csv
src/financial_analyst/util/__pycache__/debug_printer.cpython-311.pyc
src/financial_analyst/__pycache__/dcf_yf.cpython-311.pyc
src/financial_analyst/__pycache__/cagr_calculations.cpython-311.pyc
src/resources/
src/financial_analyst/output/
src/financial_analyst/__pycache__
src/financial_analyst/playground.py